.createGroup{
    height: 50px;
    width: 100%;
    background-color: #eff0ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupList
{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: calc(100% - 110px);
    overflow: auto !important;

}

.groupCard{
    width: 100%;
    height: 60px;
    background-color: #d6d9fe;
    border-radius: 10px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;

}
.groupCard:hover{
    transform: scale(1.03);
}
.groupCard img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 2px salmon;
}