
.mainContent{
    flex: 12;
    display: flex;
    flex-direction: column;

}
.iconChat{
    flex: 1;
    background-color: #005ae0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.sideBar{
   display: flex;
   align-items: center;
    width: 100% !important;
    height: 50px;
    background-color: #e5e7eb;
    color: black;
    padding: 10px;
    gap: 20px;
}
